asgiref==3.5.2
books==0.1.2
distlib==0.3.4
Django==4.0.6
ez-setup==0.9
ffs==0.0.8.2
filelock==3.4.2
fonttools==4.32.0
kiwisolver==1.4.2
letter==0.5
platformdirs==2.4.1
psycopg2==2.9.3
pynput==1.7.6
pyobjc-core==8.5
pyobjc-framework-ApplicationServices==8.5
pyobjc-framework-Cocoa==8.5
pyobjc-framework-Quartz==8.5
pyparsing==3.0.8
pystache==0.6.0
six==1.16.0
sqlparse==0.4.2
static==1.1.1
virtualenv==20.13.0
